appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
idna==2.9
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
numpy==1.18.3
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2==2.8.5
ptyprocess==0.6.0
pycryptodome==3.9.7
Pygments==2.6.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.14.0
sortedcontainers==2.1.0
soupsieve==2.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
